In [1]:
import pandas as pd

Read in data

In [2]:
df = pd.read_csv("Toronto.csv")

In [3]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Drop all the cells with a borough that is Not assigned:

In [4]:
for i in range(0,287):
    if df["Borough"][i]=='Not assigned':
        df = df.drop(i)

Reset the index:

In [5]:
df = df.reset_index(drop=True)

combined into one row with the neighborhoods separated with a comma:

In [6]:
df["Neighbourhood"] = df.groupby("Postcode")["Neighbourhood"].transform(lambda neigh: ', '.join(neigh))

Remove duplicates:

In [7]:
df = df.drop_duplicates()

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [8]:
df['Neighbourhood'].replace("Not assigned", df["Borough"],inplace=True)

In [9]:
df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
5      M7A  Downtown Toronto                      Queen's Park

In [10]:
df.shape

(103, 3)